*{
  font-family: 'Roboto Mono Medium', 'Ubuntu Nerd Font';
  font-size: 14px;
  border: none;
  padding: 0;
  margin: 0;
}

window#waybar {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

#workspaces button {
  padding: 0 10px;
  color: #a9a9a9;
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

#workspaces button.active {
  color: #ffffff;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#clock,
#backlight,
#network,
#pulseaudio,
#tray,
#battery
{
  padding: 0 10px;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  background-color: transparent;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-launcher {
  color: #ffffff;
  padding-left: 10px;
}
